<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../output.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <title>Finance</title>
</head>
<body>
    <div class="pt-50 pb-10 sm:pb-15 lg:pb-20 xl:pb-25 2xl:pb-40">
        <div class="main-container relative">
            <!-- Financing Options sec - start -->
            <div class="w-full flex lg:flex-nowrap flex-wrap justify-between items-center lg:gap-0 sm:gap-27.5  gap-32.5">
                <div class="w-full lg:w-5.4/12 xl:w-5/12 order-2 lg:order-1">
                    <h2 class="secendery-title">Explore Your Financing Options with ABC Dealership</h2>
                    <p class="mt-8 roboto font-normal text-thameThreetextSecondary text-base leading-6.5 ">
                        Welcome to our Car Financing Center, where we make your dream of owning a new vehicle a reality. At MakeHub dealership, we understand that financing is a crucial part of the car-buying journey, and we're here to guide you every step of the way. Whether you're interested in traditional auto loans, leasing, or financing for special circumstances, we have a range of financing options to suit your preferences. Our goal is to help you drive away in the car you desire with a financing plan that fits your lifestyle.
                    </p>
                    <p class="roboto font-normal text-thameThreetextSecondary text-base leading-6.5 pt-8">
                        Ready to explore your car financing options? Begin your journey towards owning your dream car by contacting our finance team today.
                    </p>
                </div>
                <div class="w-full sm:w-11/12 md:w-4/5 lg:w-5.76/12 2xl:w-2/4 mx-auto lg:mx-0 relative z-3 order-1 lg:order-2">
                    <div class="max-w-171.75 2xl:w-9.24/12 xl:w-9.84/12 lg:w-9.96/12 w-10.2/12 3xl:h-126.5 xl:h-90 lg:h-70 md:h-100 sm:h-76.25 h-63.75  relative after:absolute after:w-full after:h-full after:bg-gradient-to-b after:from-thameThreePrimary/10 after:to-thameThreePrimary after:top-0 after:left-0 after:rounded-3xl">
                        <img class="w-full h-full relative -z-1 object-cover rounded-3xl" src="../images/vehicles/beautiful-car.png" alt="img" />
                    </div>
                    <div class=" 2xl:border-20 md:border-16 border-14 overflow-hidden 2xl:rounded-5xl md:rounded-4xxl rounded-3xxl border-white absolute 2xl:-top-27.5 -top-18.75 right-0">
                        <div class="2xl:w-85 xl:w-54.25 lg:w-50 md:w-62.5 sm:w-51.25 w-45 h-46.25 sm:h-53.75 md:h-65 lg:h-50 xl:h-56.25 2xl:h-57.5 3xl:h-85 relative after:absolute after:w-full after:h-full after:bg-gradient-to-b after:from-thameThreePrimary/10 after:to-thameThreePrimary after:top-0 after:left-0">
                            <img class="w-full h-full object-cover" src="../images/explore.png" alt="img" />
                        </div>
                    </div>
                    <div class=" 2xl:border-20 md:border-16 border-14 overflow-hidden 2xl:rounded-5xl md:rounded-4xxl rounded-3xxl border-white absolute 2xl:-bottom-27.5 -bottom-18.75 right-0">
                        <div class="2xl:w-85 xl:w-54.25 lg:w-50 md:w-62.5 sm:w-51.25 w-45 h-33.75 sm:h-37.5 md:h-48.75 lg:h-35 xl:h-42.5 2xl:h-57.5 3xl:h-60 relative after:absolute after:w-full after:h-full after:bg-gradient-to-b after:from-thameThreePrimary/10 after:to-thameThreePrimary after:top-0 after:left-0">
                            <img class="w-full h-full object-cover" src="../images/explore-2.png" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Financing Options sec - End -->

            <!-- Paperless Lending sec - start -->
            <div class="pt-10 sm:pt-15 lg:pt-20 xl:pt-25 2xl:pt-40 flex lg:flex-nowrap flex-wrap justify-between xl:gap-15 lg:gap-10 sm:gap-15 gap-12.5 items-center ">
                <div class="max-w-201  2xl:w-5.52/12 lg:w-2/4 w-full  2xl:h-125 xl:h-91.25 lg:h-105 md:h-100 sm:h-86.25 h-67.5  relative after:absolute after:left-0 after:top-0 after:w-full after:h-full after:rounded-3xl after:bg-gradient-to-b after:from-transparent after:to-thameThreePrimary/70 after:z-10 ">
                    <img class="w-full h-full object-cover rounded-3xl" src="../images/paperless.png" alt="img" />
                </div>
                <div class="lg:w-2/4 w-full ">
                    <h2 class="secendery-title">Fast and Secure Paperless Lending</h2>
                    <p class="mt-8 roboto font-normal text-thameThreetextSecondary text-base leading-6.5 ">
                    Welcome to our Car Financing Center, where we make your dream of owning a new vehicle a reality. At MakeHub dealership, we understand that financing is a crucial part of the car-buying journey, and we're here to guide you every step of the way. Whether you're interested in traditional auto loans, leasing, or financing for special circumstances, we have a range of financing options to suit your preferences. Our goal is to help you drive away in the car you desire with a financing plan that fits your lifestyle.
                    </p>
                    <p class="roboto font-normal text-thameThreetextSecondary text-base leading-6.5 pt-8">
                    Ready to explore your car financing options? Begin your journey towards owning your dream car by contacting our finance team today.
                    </p>
                </div>
            </div>
            <!-- Paperless Lending sec - End -->

            <!-- Easy Process sec - start -->
            <div class="py-10 sm:py-15 lg:py-20 xl:py-25 2xl:py-40 flex lg:flex-nowrap flex-wrap justify-between xl:gap-15 lg:gap-10 sm:gap-15 gap-12.5 items-center ">
                <div class="lg:w-2/4 w-full lg:order-1 order-2">
                    <h2 class="secendery-title">Quick and Easy Process</h2>
                    <p class="mt-8 roboto font-normal text-thameThreetextSecondary text-base leading-6.5 ">
                    Welcome to our Car Financing Center, where we make your dream of owning a new vehicle a reality. At MakeHub dealership, we understand that financing is a crucial part of the car-buying journey, and we're here to guide you every step of the way. Whether you're interested in traditional auto loans, leasing, or financing for special circumstances, we have a range of financing options to suit your preferences. Our goal is to help you drive away in the car you desire with a financing plan that fits your lifestyle.
                    </p>
                    <p class="roboto font-normal text-thameThreetextSecondary text-base leading-6.5 pt-8">
                    Ready to explore your car financing options? Begin your journey towards owning your dream car by contacting our finance team today.
                    </p>
                </div>
                <div class="max-w-201  2xl:w-5.52/12 lg:w-2/4 w-full  2xl:h-125 xl:h-91.25 lg:h-105 md:h-100 sm:h-86.25 h-67.5  relative after:absolute after:left-0 after:top-0 after:w-full after:h-full after:rounded-3xl after:bg-gradient-to-b after:from-transparent after:to-thameThreePrimary/70 after:z-10 lg:order-2 order-1">
                    <img class="w-full h-full object-cover rounded-3xl" src="../images/easy-process.png" alt="img" />
                </div>
            </div>
            <!-- Easy Process sec - End -->

            <!-- Repayment Options sec - start -->
            <div class="flex lg:flex-nowrap flex-wrap justify-between xl:gap-15 lg:gap-10 sm:gap-15 gap-12.5 items-center">
                <div class="max-w-201  2xl:w-5.52/12 lg:w-2/4 w-full  2xl:h-125 xl:h-91.25 lg:h-105 md:h-100 sm:h-86.25 h-67.5  relative after:absolute after:left-0 after:top-0 after:w-full after:h-full after:rounded-3xl after:bg-gradient-to-b after:from-transparent after:to-thameThreePrimary/70 after:z-10">
                    <img class="w-full h-full object-cover rounded-3xl" src="../images/repayment.png" alt="img" />
                </div>
                <div class="lg:w-2/4 w-full">
                    <h2 class="secendery-title">Flexible Repayment Options</h2>
                    <p class="mt-8 roboto font-normal text-thameThreetextSecondary text-base leading-6.5 ">
                    Welcome to our Car Financing Center, where we make your dream of owning a new vehicle a reality. At MakeHub dealership, we understand that financing is a crucial part of the car-buying journey, and we're here to guide you every step of the way. Whether you're interested in traditional auto loans, leasing, or financing for special circumstances, we have a range of financing options to suit your preferences. Our goal is to help you drive away in the car you desire with a financing plan that fits your lifestyle.
                    </p>
                    <p class="roboto font-normal text-thameThreetextSecondary text-base leading-6.5 pt-8">
                    Ready to explore your car financing options? Begin your journey towards owning your dream car by contacting our finance team today.
                    </p>
                </div>
            </div>
            <!-- Repayment Options sec - End -->

            <!-- bg effects start -->
            <div class="after:absolute after:right-0 2xl:after:bottom-131.25 xl:after:bottom-83.75 lg:after:bottom-295 sm:after:bottom-248.75 after:bottom-295 2xl:after:h-225 after:h-198.75 sm:after:w-150 after:w-full after:rounded-full after:bg-thameThreelightYellow/20 after:filter after:blur-[1000px] after:-z-10 before:absolute before:left-0 2xl:before:top-189.5 xl:before:top-161.25 lg:before:top-295 sm:before:top-258.75 before:top-275 2xl:before:h-225 before:h-172.5 sm:before:w-150 before:w-full before:rounded-full before:bg-thameThreeSecondary/20 before:filter before:blur-[1000px] before:-z-10 "></div>
            <!-- bg effects End -->
        </div>
    </div>

    <!-- Loan Calculator -->
    <div class="py-10 sm:py-15 lg:py-20 xl:py-25 2xl:py-40 relative z-10 rounded-12 overflow-hidden">
        <div class="main-container">
            <!-- Title -->
            <div class="space-y-4">
                <h2 class="primery-title text-center">
                    Your goals are our main focus, always!
                </h2>
                <p class="text-base font-normal text-thameThreetextSecondary text-center">
                    With over 800M listings and trusted dealer reviews, Elite Motors connects you to the best cars, the best dealers, and the best deals — every single day.
                </p>
            </div>

            <!-- Calculator -->
            <div class="mt-10 md:mt-11 xl:mt-13 2xl:mt-16 rounded-3xl bg-thameThreeWhiteLight">
                <div class="flex flex-wrap lg:flex-nowrap items-center">
                    <div class="py-5 sm:py-7 md:py-10 xl:py-12 3xl:py-16 w-full lg:w-3/5 max-w-259.5">
                        <form action="" class="px-5 sm:px-7 md:px-10 xl:px-12 3xl:px-16 lg:border-r border-dashed border-bannerText/50 space-y-5 xl:space-y-6">
                            <!-- Vehicle Budget -->
                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col max-w-137.5 w-full sm:w-3/5">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        Vehicle Budget
                                    </label>
                                    <input type="range" 
                                        class="rangeSlider w-full h-3 xl:h-4 rounded-3xl appearance-none cursor-pointer
                                            [&::-webkit-slider-thumb]:appearance-none
                                            [&::-webkit-slider-thumb]:h-4
                                            [&::-webkit-slider-thumb]:w-4
                                            [&::-webkit-slider-thumb]:rounded-full
                                            [&::-webkit-slider-thumb]:bg-white
                                            [&::-webkit-slider-thumb]:border-6
                                            [&::-webkit-slider-thumb]:border-thameThreeIndigoBlue
                                            [&::-webkit-slider-thumb]:shadow-lg

                                            [&::-moz-range-thumb]:h-4
                                            [&::-moz-range-thumb]:w-4
                                            [&::-moz-range-thumb]:rounded-full
                                            [&::-moz-range-thumb]:bg-white
                                            [&::-moz-range-thumb]:border-6
                                            [&::-moz-range-thumb]:border-thameThreeIndigoBlue "/>

                                    <div class="mt-1 flex items-center justify-between gap-5">
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $1,000
                                        </p>
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $10,00000
                                        </p>
                                    </div>
                                </div>
                                <div class="relative w-full sm:w-4/12 sm:max-w-78">
                                    <input id="vehicle_budget" name="vehicle_budget" type="text" value="1000" placeholder=" " class="peer text-thameThreePrimary text-base xl:text-lg 3xl:text-xl font-medium w-full h-11 xl:h-15 pl-6.5 pr-12 xl:pr-15 py-2 xl:py-4 bg-white/10 border border-bannerText/25 rounded-lg focus:outline-none focus:border-thameThreeSecondary/70 placeholder-transparent"/>

                                    <span class="absolute right-3 top-1/2 -translate-y-1/2  text-thameThreetextSecondary text-base xl:text-lg 3xl:text-xl font-medium">
                                        AUD
                                    </span>
                                </div>
                            </div>
                            <!-- Cash Deposit -->
                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col max-w-137.5 w-full sm:w-3/5">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        Cash Deposit
                                    </label>
                                    <input type="range" 
                                        class="rangeSlider w-full h-3 xl:h-4 rounded-3xl appearance-none cursor-pointer
                                            [&::-webkit-slider-thumb]:appearance-none
                                            [&::-webkit-slider-thumb]:h-4
                                            [&::-webkit-slider-thumb]:w-4
                                            [&::-webkit-slider-thumb]:rounded-full
                                            [&::-webkit-slider-thumb]:bg-white
                                            [&::-webkit-slider-thumb]:border-6
                                            [&::-webkit-slider-thumb]:border-thameThreeIndigoBlue
                                            [&::-webkit-slider-thumb]:shadow-lg

                                            [&::-moz-range-thumb]:h-4
                                            [&::-moz-range-thumb]:w-4
                                            [&::-moz-range-thumb]:rounded-full
                                            [&::-moz-range-thumb]:bg-white
                                            [&::-moz-range-thumb]:border-6
                                            [&::-moz-range-thumb]:border-thameThreeIndigoBlue "/>

                                    <div class="mt-1 flex items-center justify-between gap-5">
                                        <!-- Min -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $100
                                        </p>
                                        <!-- Max -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $10,00000
                                        </p>
                                    </div>
                                </div>
                                <div class="relative w-full sm:w-4/12 sm:max-w-78">
                                    <input id="deposit" name="deposit" type="text" value="100" placeholder=" " class="peer text-thameThreePrimary text-base xl:text-lg 3xl:text-xl font-medium w-full h-11 xl:h-15 pl-6.5 pr-12 xl:pr-15 py-2 xl:py-4 bg-white/10 border border-bannerText/25 rounded-lg focus:outline-none focus:border-thameThreeSecondary/70 placeholder-transparent"/>

                                    <span class="absolute right-3 top-1/2 -translate-y-1/2  text-thameThreetextSecondary text-base xl:text-lg 3xl:text-xl font-medium">
                                        AUD
                                    </span>
                                </div>

                            </div>
                            <!-- Trade-in Value -->
                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col max-w-137.5 w-full sm:w-3/5">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        Trade-in Value
                                    </label>
                                    <input type="range" 
                                        class="rangeSlider w-full h-3 xl:h-4 rounded-3xl appearance-none cursor-pointer
                                            [&::-webkit-slider-thumb]:appearance-none
                                            [&::-webkit-slider-thumb]:h-4
                                            [&::-webkit-slider-thumb]:w-4
                                            [&::-webkit-slider-thumb]:rounded-full
                                            [&::-webkit-slider-thumb]:bg-white
                                            [&::-webkit-slider-thumb]:border-6
                                            [&::-webkit-slider-thumb]:border-thameThreeIndigoBlue
                                            [&::-webkit-slider-thumb]:shadow-lg

                                            [&::-moz-range-thumb]:h-4
                                            [&::-moz-range-thumb]:w-4
                                            [&::-moz-range-thumb]:rounded-full
                                            [&::-moz-range-thumb]:bg-white
                                            [&::-moz-range-thumb]:border-6
                                            [&::-moz-range-thumb]:border-thameThreeIndigoBlue "/>

                                    <div class="mt-1 flex items-center justify-between gap-5">
                                        <!-- Min -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $5,000
                                        </p>
                                        <!-- Max -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $10,00000
                                        </p>
                                    </div>
                                </div>
                                <div class="relative w-full sm:w-4/12 sm:max-w-78">
                                    <input id="trade_in_value" name="trade_in_value" type="text" value="5000" placeholder=" " class="peer text-thameThreePrimary text-base xl:text-lg 3xl:text-xl font-medium w-full h-11 xl:h-15 pl-6.5 pr-12 xl:pr-15 py-2 xl:py-4 bg-white/10 border border-bannerText/25 rounded-lg focus:outline-none focus:border-thameThreeSecondary/70 placeholder-transparent"/>

                                    <span class="absolute right-3 top-1/2 -translate-y-1/2  text-thameThreetextSecondary text-base xl:text-lg 3xl:text-xl font-medium">
                                        AUD
                                    </span>
                                </div>
                            </div>
                            <!-- loan amount -->
                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col max-w-137.5 w-full sm:w-3/5">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        loan amount
                                    </label>
                                    <input type="range" 
                                        class="rangeSlider w-full h-3 xl:h-4 rounded-3xl appearance-none cursor-pointer
                                            [&::-webkit-slider-thumb]:appearance-none
                                            [&::-webkit-slider-thumb]:h-4
                                            [&::-webkit-slider-thumb]:w-4
                                            [&::-webkit-slider-thumb]:rounded-full
                                            [&::-webkit-slider-thumb]:bg-white
                                            [&::-webkit-slider-thumb]:border-6
                                            [&::-webkit-slider-thumb]:border-thameThreeIndigoBlue
                                            [&::-webkit-slider-thumb]:shadow-lg

                                            [&::-moz-range-thumb]:h-4
                                            [&::-moz-range-thumb]:w-4
                                            [&::-moz-range-thumb]:rounded-full
                                            [&::-moz-range-thumb]:bg-white
                                            [&::-moz-range-thumb]:border-6
                                            [&::-moz-range-thumb]:border-thameThreeIndigoBlue "/>

                                    <div class="mt-1 flex items-center justify-between gap-5">
                                        <!-- Min -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $50,000
                                        </p>
                                        <!-- Max -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            $10,000,000
                                        </p>
                                    </div>
                                </div>
                                <div class="relative w-full sm:w-4/12 sm:max-w-78">
                                    <input id="loan_amount" name="loan_amount" type="text" value="50000" placeholder=" " class="peer text-thameThreePrimary text-base xl:text-lg 3xl:text-xl font-medium w-full h-11 xl:h-15 pl-6.5 pr-12 xl:pr-15 py-2 xl:py-4 bg-white/10 border border-bannerText/25 rounded-lg focus:outline-none focus:border-thameThreeSecondary/70 placeholder-transparent"/>

                                    <span class="absolute right-3 top-1/2 -translate-y-1/2  text-thameThreetextSecondary text-base xl:text-lg 3xl:text-xl font-medium">
                                        AUD
                                    </span>
                                </div>

                            </div>
                            <!-- Loan Term -->
                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col max-w-137.5 w-full sm:w-3/5">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        Loan Term
                                    </label>
                                    <input type="range" 
                                        class="rangeSlider w-full h-3 xl:h-4 rounded-3xl appearance-none cursor-pointer
                                            [&::-webkit-slider-thumb]:appearance-none
                                            [&::-webkit-slider-thumb]:h-4
                                            [&::-webkit-slider-thumb]:w-4
                                            [&::-webkit-slider-thumb]:rounded-full
                                            [&::-webkit-slider-thumb]:bg-white
                                            [&::-webkit-slider-thumb]:border-6
                                            [&::-webkit-slider-thumb]:border-thameThreeIndigoBlue
                                            [&::-webkit-slider-thumb]:shadow-lg

                                            [&::-moz-range-thumb]:h-4
                                            [&::-moz-range-thumb]:w-4
                                            [&::-moz-range-thumb]:rounded-full
                                            [&::-moz-range-thumb]:bg-white
                                            [&::-moz-range-thumb]:border-6
                                            [&::-moz-range-thumb]:border-thameThreeIndigoBlue "/>

                                    <div class="mt-1 flex items-center justify-between gap-5">
                                        <!-- Min -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            02 Years
                                        </p>
                                        <!-- Max -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            08 Years
                                        </p>
                                    </div>
                                </div>
                                <div class="relative w-full sm:w-4/12 sm:max-w-78">
                                    <input id="loan_term" name="loan_term" type="text" value="2" placeholder=" " class="peer text-thameThreePrimary text-base xl:text-lg 3xl:text-xl font-medium w-full h-11 xl:h-15 pl-6.5 pr-15 xl:pr-15 3xl:pr-17.5 py-2 xl:py-4 bg-white/10 border border-bannerText/25 rounded-lg focus:outline-none focus:border-thameThreeSecondary/70 placeholder-transparent"/>

                                    <span class="absolute right-3 top-1/2 -translate-y-1/2  text-thameThreetextSecondary text-base xl:text-lg 3xl:text-xl font-medium">
                                        years
                                    </span>
                                </div>

                            </div>
                            <!-- rate of interest -->
                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col max-w-137.5 w-full sm:w-3/5">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        rate of interest (%)
                                    </label>
                                    <input type="range" 
                                        class="rangeSlider w-full h-3 xl:h-4 rounded-3xl appearance-none cursor-pointer
                                            [&::-webkit-slider-thumb]:appearance-none
                                            [&::-webkit-slider-thumb]:h-4
                                            [&::-webkit-slider-thumb]:w-4
                                            [&::-webkit-slider-thumb]:rounded-full
                                            [&::-webkit-slider-thumb]:bg-white
                                            [&::-webkit-slider-thumb]:border-6
                                            [&::-webkit-slider-thumb]:border-thameThreeIndigoBlue
                                            [&::-webkit-slider-thumb]:shadow-lg

                                            [&::-moz-range-thumb]:h-4
                                            [&::-moz-range-thumb]:w-4
                                            [&::-moz-range-thumb]:rounded-full
                                            [&::-moz-range-thumb]:bg-white
                                            [&::-moz-range-thumb]:border-6
                                            [&::-moz-range-thumb]:border-thameThreeIndigoBlue "/>

                                    <div class="mt-1 flex items-center justify-between gap-5">
                                        <!-- Min -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            01%
                                        </p>
                                        <!-- Max -->
                                        <p class="text-sm font-normal text-bannerText/50">
                                            40%
                                        </p>
                                    </div>
                                </div>
                                <div class="relative w-full sm:w-4/12 sm:max-w-78">
                                    <input id="interest_rate" name="interest_rate" type="text" value="01" placeholder=" " class="peer text-thameThreePrimary text-base xl:text-lg 3xl:text-xl font-medium w-full h-11 xl:h-15 pl-6.5 pr-27 xl:pr-30 3xl:pr-33 py-2 xl:py-4 bg-white/10 border border-bannerText/25 rounded-lg focus:outline-none focus:border-thameThreeSecondary/70 placeholder-transparent"/>

                                    <span class="absolute right-3 top-1/2 -translate-y-1/2  text-thameThreetextSecondary text-base xl:text-lg 3xl:text-xl font-medium">
                                        percentage
                                    </span>
                                </div>
                            </div>

                            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-2 sm:gap-8 xl:gap-12">
                                <div class="flex flex-col w-full sm:w-1/2">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        Balloon payment (%)
                                    </label>
                                    <div class="relative">
                                        <select class="px-5.5 h-11 xl:h-15 py-2 xl:py-4 bg-white border border-thameThreePrimary/50 rounded-lg w-full text-base xl:text-lg 3xl:text-xl font-medium text-thameThreePrimary appearance-none">
                                            <option value="usa">Any Makes</option>
                                            <option value="canada">Canada</option>
                                            <option value="uk">United Kingdom</option>
                                        </select>
                                        <!-- icon -->
                                        <img class="absolute top-1/2 right-5.5 -translate-y-1/2" src="../images/icons/primary-down-arrow.svg" alt="icon"/>
                                    </div>
                                </div>
                                <div class="flex flex-col w-full sm:w-1/2">
                                    <label for="" class="text-sm xl:text-base font-medium text-thameThreePrimary mb-2">
                                        First payment date
                                    </label>
                                    <div class="relative">
                                        <input type="date" class="w-full h-11 xl:h-15 text-base xl:text-lg 3xl:text-xl font-medium text-thameThreePrimary px-5.5 py-2 xl:py-4 bg-white border border-thameThreePrimary/50 rounded-lg focus:border-thameThreeSecondary/70 focus:outline-none"/>
                                        <img class="size-6 bg-white absolute top-1/2 right-5.5 -translate-y-1/2" src="../images/icons/calander.svg" alt="icon"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Right side -->
                    <div class="p-6 w-full lg:w-2/5 max-w-172.5 mx-auto">
                        <!-- Graph & Chart -->
                        <div class="relative">
                            <!-- Graph & Chart button -->
                            <div class="absolute -top-5 xl:top-0 -right-3 xl:right-0 flex flex-col">
                                <button class="px-3 2xl:px-6 py-2 2xl:py-3.5 bg-white border border-thameThreeWhiteLight/25 rounded-t-lg text-xs 2xl:text-base font-medium text-thameThreePrimary">
                                    Graph view
                                </button>
                                <button class="px-3 2xl:px-6 py-2 2xl:py-3.5 bg-thameThreePrimary border border-thameThreeWhiteLight/25 rounded-b-lg text-xs 2xl:text-base font-medium text-thameThreeWhiteLight">
                                    Chart view
                                </button>
                            </div>
                            <!-- Graph & Chart -->
                            <div class="w-72 xl:w-87.5 h-70 mt-3 mx-auto flex justify-center items-center">
                                <div class="max-w-50 max-h-50">
                                    <canvas id="pieChart" width="200" height="200" class=""></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="space-y-8">
                            <!-- equal monthly -->
                            <div class="space-y-3">
                                <p class=" font-normal text-sm xxl:text-base text-thameThreePrimary/70 text-center">
                                    Equal monthly instalment (EMI)
                                </p>
                                <h2 class="text-center  font-semibold xl:text-10 text-3xl uppercase">
                                    $6,044.44 AUd
                                </h2>
                            </div>

                            <div class="w-4/5 max-w-100 mx-auto space-y-8">
                                <!-- pakage sec -->
                                <div class=" rounded-lg flex flex-col xsm:flex-row items-center xsm:gap-0 gap-2   justify-center ">
                                    <button class="py-2 xl:py-3 px-5 text-center w-full xsm:w-24.25 border border-neutralBorder rounded-lg xsm:rounded-l-lg xsm:rounded-r-none font-normal text-sm xxl:text-base text-thameThreePrimary">
                                        Weekly
                                    </button>
                                    <button class="py-2 xl:py-3 px-5 text-center w-full border xsm:border-x-0 border-neutralBorder rounded-lg xsm:rounded-none font-normal text-sm xxl:text-base text-thameThreePrimary">
                                        Fortnightly
                                    </button>
                                    <button class="py-2 xl:py-3 px-5 text-center w-full xsm:w-[105px] border border-l-0 border-neutralBorder bg-thameThreePrimary rounded-lg xsm:rounded-l-none xsm:rounded-r-lg font-normal text-sm xxl:text-base text-white">
                                        Monthly
                                    </button>
                                </div>

                                <!-- payment sec -->
                                <div class="w-full">
                                    <!-- top sec -->
                                    <div class="space-y-2 border-b border-thameThreePrimary/50 pb-3">
                                        <!-- Principal -->
                                        <div class="flex justify-between items-center">
                                            <h4 class="after:absolute after:top-1 after:left-0 after:bg-thameThreeSecondary after:w-4 after:h-4 after:rounded relative font-normal text-sm xxl:text-base text-thameThreePrimary pl-6">
                                                Principal Amount
                                            </h4>
                                            <p class=" font-normal text-sm xxl:text-base text-thameThreePrimary uppercase">
                                                $4,444.44
                                            </p>
                                        </div>

                                        <!-- Interest -->
                                        <div class="flex justify-between items-center">
                                            <h4 class="after:absolute after:top-1 after:left-0 after:bg-thameThreelightYellow after:w-4 after:h-4 after:rounded relative  font-normal text-sm xxl:text-base text-thameThreePrimary pl-6">
                                                Interest Amount
                                            </h4>
                                            <p class=" font-normal text-sm xxl:text-base text-thameThreePrimary uppercase">
                                                $1,600
                                            </p>
                                        </div>
                                    </div>

                                    <!-- total payable -->
                                    <div class="flex justify-between items-center py-3">
                                        <h4 class=" font-medium text-sm xxl:text-base text-thameThreePrimary ">
                                            Total Payable Amount
                                        </h4>
                                        <p class=" font-medium text-sm xxl:text-base text-thameThreePrimary uppercase">
                                            $6,044.44
                                        </p>
                                    </div>

                                    <!-- bottom sec -->
                                    <div class="space-y-2 border-t border-thameThreePrimary/50 pt-3">
                                            <!-- Balloon -->
                                            <div class="flex justify-between items-center">
                                                <h4 class=" font-normal text-sm xxl:text-base text-thameThreePrimary ">
                                                    Balloon
                                                </h4>
                                                <p class=" font-normal text-sm xxl:text-base text-thameThreePrimary uppercase">
                                                    $ 5,000.00
                                                </p>
                                            </div>

                                            <!-- Pay off date -->
                                            <div class="flex justify-between items-center ">
                                                <h4 class=" font-normal text-sm xxl:text-base text-thameThreePrimary ">
                                                    Pay off date
                                                </h4>
                                                <p class=" font-normal text-sm xxl:text-base text-thameThreePrimary ">
                                                    November | 2028
                                                </p>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <!-- button sec -->
                            <div class="flex flex-wrap 2xl:flex-nowrap justify-center gap-4 max-w-130 mx-auto">
                                <button class="text-white bg-thameThreeSecondary w-full 2xl:w-1/2 py-3.75 px-4 h-11 2xl:h-14 rounded-xl font-medium text-sm xxl:text-base flex justify-center items-center gap-5 duration-300 group hover:bg-thameThreeSecondaryDark">
                                    Apply for Finance
                                    <svg class="fill-secondaryLighter" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 0C10.7 0 10.5 0.0999994 10.3 0.299999L0.3 10.3C-0.1 10.7 -0.1 11.3 0.3 11.7C0.7 12.1 1.3 12.1 1.7 11.7L11.7 1.7C12.1 1.3 12.1 0.699999 11.7 0.299999C11.5 0.0999994 11.3 0 11 0Z" fill=""/>
                                        <path d="M11 0H2C1.4 0 1 0.4 1 1C1 1.6 1.4 2 2 2H10V10C10 10.6 10.4 11 11 11C11.6 11 12 10.6 12 10V1C12 0.4 11.6 0 11 0Z" fill=""/>
                                    </svg>
                                </button>

                                <button class="text-white bg-thameThreePrimary w-full 2xl:w-1/2 py-3.75 px-4 h-11 2xl:h-14 rounded-xl font-medium text-sm xxl:text-base duration-300 group hover:bg-thameThreePrimaryDark">
                                    See cars in your budget
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-6 text-sm font-normal text-bannerText/60">
                The figures shown in the calculators do not constitute financial advice. Lender policy, term and conditions, fees and charges apply. The results should not be taken as a substitute for professional or finance advice. All reasonable care has been taken in preparing and designing the calculators and tools; however, oxcel finance provides no warranties and makes no representation that the information provided by the calculators and tools is appropriate for your particular circumstances or indicates you should follow a particular course of action
            </p>
        </div>
        <!-- Background Ellipse blue -->
        <div class="absolute top-0 left-0 w-124.5 h-124.5 bg-thameThreeSecondary/50 filter blur-[1000px] -z-10 opacity-50"></div>
        <!-- Background Ellipse red -->
        <div class="absolute bottom-0 right-0 w-124.5 h-124.5 bg-thameThreelightYellow/50 filter blur-[1000px] -z-10 opacity-50"></div>
    </div>

    <!-- Questions & Ansewr -->
    <div class="pb-10 sm:pb-15 lg:pb-20 xl:pb-25 2xl:pb-40">
        <div class="main-container">
            <div class="bg-thameThreeWhiteLight 2xl:px-30 xl:px-20 lg:px-15 px-5 xl:py-20 lg:py-15 py-10 rounded-3xl space-y-16">
                <div class="space-y-4 text-center 4xl:w-7/12 2xl:w-3/4 xl:w-9/12 sm:w-11/12 w-full mx-auto">
                    <h2 class="text-thThreePrimary 2xl:text-4xxl sm:text-4xl xsm:text-3xl text-2xl font-semibold">
                        Frequently Asked Questions
                    </h2>
                    <p class="text-thThreeSecondary 2xl:text-base text-sm">
                        Check out the FAQ at Elite Motors for quick answers to your questions. With over 800 million listings and trusted dealer reviews, we help you find the best cars and deals daily.
                    </p>
                </div>
                <div class="space-y-4">
                    <details class="group open:border open:border-thameThreeSecondary/50 rounded-xl overflow-hidden" open="">
                        <summary class="text-thThreePrimary 2xl:text-base text-sm font-semibold flex justify-between items-center gap-2 cursor-pointer px-4 sm:px-6 py-4 sm:py-6 bg-white group-open:bg-thameThreeSecondary/20">
                            <!-- Your SVG icon -->
                            <div class="flex justify-start items-center gap-2">
                                <img class="min-w-4 sm:w-5 w-4 sm:h-5 h-4 rounded-5" src="../images/icons/qes.svg" alt="logo"/>
                                <span>What is the duration of the free trial for our car services?</span>
                            </div>
                            <img class="size-4 inline-flex justify-center items-center group-open:rotate-180" src="../images/icons/up-down.svg" alt="icon"/>
                        </summary>
                        <div class="text-bannerText 2xl:text-base text-sm px-8 pb-4 bg-thameThreeSecondary/20">
                            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus in hac.
                        </div>
                    </details>
                    <details class="group open:border open:border-thameThreeSecondary/50 rounded-xl overflow-hidden">
                        <summary class="text-thThreePrimary 2xl:text-base text-sm font-semibold flex justify-between items-center gap-2 cursor-pointer px-4 sm:px-6 py-4 sm:py-6 bg-white group-open:bg-thameThreeSecondary/20">
                            <!-- Your SVG icon -->
                            <div class="flex justify-start items-center gap-2">
                                <img class="min-w-4 sm:w-5 w-4 sm:h-5 h-4 rounded-5" src="../images/icons/qes.svg" alt="logo"/>
                                <span>Can I get a refund if I'm not satisfied with my car purchase?</span>
                            </div>
                            <img class="size-4 inline-flex justify-center items-center group-open:rotate-180" src="../images/icons/up-down.svg" alt="icon"/>
                        </summary>
                        <div class="text-bannerText 2xl:text-base text-sm px-8 pb-4 bg-thameThreeSecondary/20">
                            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus in hac.
                        </div>
                    </details>
                    <details class="group open:border open:border-thameThreeSecondary/50 rounded-xl overflow-hidden">
                        <summary class="text-thThreePrimary 2xl:text-base text-sm font-semibold flex justify-between items-center gap-2 cursor-pointer px-4 sm:px-6 py-4 sm:py-6 bg-white group-open:bg-thameThreeSecondary/20">
                            <!-- Your SVG icon -->
                            <div class="flex justify-start items-center gap-2">
                                <img class="min-w-4 sm:w-5 w-4 sm:h-5 h-4 rounded-5" src="../images/icons/qes.svg" alt="logo"/>
                                <span>What is the price range for the vehicles we offer?</span>
                            </div>
                            <img class="size-4 inline-flex justify-center items-center group-open:rotate-180" src="../images/icons/up-down.svg" alt="icon"/>
                        </summary>
                        <div class="text-bannerText 2xl:text-base text-sm px-8 pb-4 bg-thameThreeSecondary/20">
                            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus in hac.
                        </div>
                    </details>
                    <details class="group open:border open:border-thameThreeSecondary/50 rounded-xl overflow-hidden">
                        <summary class="text-thThreePrimary 2xl:text-base text-sm font-semibold flex justify-between items-center gap-2 cursor-pointer px-4 sm:px-6 py-4 sm:py-6 bg-white group-open:bg-thameThreeSecondary/20">
                            <!-- Your SVG icon -->
                            <div class="flex justify-start items-center gap-2">
                                <img class="min-w-4 sm:w-5 w-4 sm:h-5 h-4 rounded-5" src="../images/icons/qes.svg" alt="logo"/>
                                <span>Who are the potential customers for our car dealership?</span>
                            </div>
                            <img class="size-4 inline-flex justify-center items-center group-open:rotate-180" src="../images/icons/up-down.svg" alt="icon"/>
                        </summary>
                        <div class="text-bannerText 2xl:text-base text-sm px-8 pb-4 bg-thameThreeSecondary/20">
                            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus in hac.
                        </div>
                    </details>
                    <details class="group open:border open:border-thameThreeSecondary/50 rounded-xl overflow-hidden">
                        <summary class="text-thThreePrimary 2xl:text-base text-sm font-semibold flex justify-between items-center gap-2 cursor-pointer px-4 sm:px-6 py-4 sm:py-6 bg-white group-open:bg-thameThreeSecondary/20">
                            <!-- Your SVG icon -->
                            <div class="flex justify-start items-center gap-2">
                                <img class="min-w-4 sm:w-5 w-4 sm:h-5 h-4 rounded-5" src="../images/icons/qes.svg" alt="logo"/>
                                <span>What is slothUI in the context of a car dealership?</span>
                            </div>
                            <img class="size-4 inline-flex justify-center items-center group-open:rotate-180" src="../images/icons/up-down.svg" alt="icon"/>
                        </summary>
                        <div class="text-bannerText 2xl:text-base text-sm px-8 pb-4 bg-thameThreeSecondary/20">
                            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus in hac.
                        </div>
                    </details>
                    <details class="group open:border open:border-thameThreeSecondary/50 rounded-xl overflow-hidden">
                        <summary class="text-thThreePrimary 2xl:text-base text-sm font-semibold flex justify-between items-center gap-2 cursor-pointer px-4 sm:px-6 py-4 sm:py-6 bg-white group-open:bg-thameThreeSecondary/20">
                            <!-- Your SVG icon -->
                            <div class="flex justify-start items-center gap-2">
                                <img class="min-w-4 sm:w-5 w-4 sm:h-5 h-4 rounded-5" src="../images/icons/qes.svg" alt="logo"/>
                                <span>How long does it typically take to process a car purchase?</span>
                            </div>
                            <img class="size-4 inline-flex justify-center items-center group-open:rotate-180" src="../images/icons/up-down.svg" alt="icon"/>
                        </summary>
                        <div class="text-bannerText 2xl:text-base text-sm px-8 pb-4 bg-thameThreeSecondary/20">
                            Mattis ullamcorper velit sed ullamcorper morbi tincidunt. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Diam quis enim lobortis scelerisque fermentum dui faucibus. Urna nunc id cursus metus aliquam eleifend mi. Gravida quis blandit turpis cursus in hac.
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/app.js"></script>
</body>
</html>