@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px){
  .main-container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px){
  .main-container{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1280px){
  .main-container{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 1600px){
  .main-container{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1920px){
  .main-container{
    padding-left: 96px;
    padding-right: 96px;
  }
}

.secendery-title{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  line-height: 1.375 !important;
  --tw-text-opacity: 1;
  color: rgb(10 31 68 / var(--tw-text-opacity, 1));
}

@media (min-width: 1280px){
  .secendery-title{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1440px){
  .secendery-title{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-bottom-18\.75{
  bottom: -75px;
}

.-top-18\.75{
  top: -75px;
}

.right-0{
  right: 0px;
}

.-z-1{
  z-index: -1;
}

.z-3{
  z-index: 3;
}

.order-1{
  order: 1;
}

.order-2{
  order: 2;
}

.m-auto{
  margin: auto;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-13{
  margin-top: 52px;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-8{
  margin-top: 2rem;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-17\.5{
  height: 70px;
}

.h-33\.75{
  height: 135px;
}

.h-46\.25{
  height: 185px;
}

.h-63\.75{
  height: 255px;
}

.h-67\.5{
  height: 270px;
}

.h-\[18px\]{
  height: 18px;
}

.h-\[27px\]{
  height: 27px;
}

.h-full{
  height: 100%;
}

.w-10{
  width: 2.5rem;
}

.w-10\.2\/12{
  width: 85%;
}

.w-13\.75{
  width: 55px;
}

.w-31\.25{
  width: 125px;
}

.w-45{
  width: 180px;
}

.w-6\/12{
  width: 50%;
}

.w-9{
  width: 2.25rem;
}

.w-9\.96\/12{
  width: 83%;
}

.w-\[28px\]{
  width: 28px;
}

.w-\[312px\]{
  width: 312px;
}

.w-\[320px\]{
  width: 320px;
}

.w-\[32px\]{
  width: 32px;
}

.w-\[42\%\]{
  width: 42%;
}

.w-\[657\.64px\]{
  width: 657.64px;
}

.w-\[77\%\]{
  width: 77%;
}

.w-\[930px\]{
  width: 930px;
}

.w-\[97px\]{
  width: 97px;
}

.w-full{
  width: 100%;
}

.min-w-8{
  min-width: 2rem;
}

.max-w-171\.75{
  max-width: 687px;
}

.max-w-201{
  max-width: 804px;
}

.max-w-232\.5{
  max-width: 930px;
}

.max-w-45{
  max-width: 180px;
}

.max-w-51\.5{
  max-width: 206px;
.max-w-\[687px\]{
  max-width: 687px;
}

.border-collapse{
  border-collapse: collapse;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-disc{
  list-style-type: disc;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-5{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-12\.5{
  gap: 50px;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 12px;
}

.gap-32\.5{
  gap: 130px;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-8{
  gap: 2rem;
}

.gap-x-12\.5{
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.gap-y-4{
  row-gap: 1rem;
}

.gap-y-5{
  row-gap: 1.25rem;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(12px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(12px * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-3\.25{
  border-radius: 13px;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-5\.75{
  border-radius: 23px;
}

.rounded-6{
  border-radius: 24px;
}

.rounded-7\.5{
  border-radius: 30px;
}

.rounded-\[13\.74px\]{
  border-radius: 13.74px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-b-6{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.border{
  border-width: 1px;
}

.border-3\.5{
  border-width: 14px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-l-0{
  border-left-width: 0px;
}

.border-t{
  border-top-width: 1px;
}

.border-\[\#CCCCCC\]{
  --tw-border-opacity: 1;
  border-color: rgb(204 204 204 / var(--tw-border-opacity, 1));
}

.border-bannerText\/25{
  border-color: rgb(40 40 40 / 0.25);
}

.border-thameThreePrimary{
  --tw-border-opacity: 1;
  border-color: rgb(10 31 68 / var(--tw-border-opacity, 1));
}

.border-thameThreePrimary\/50{
  border-color: rgb(10 31 68 / 0.5);
}

.border-thameThreeSecondary\/50{
  border-color: rgb(64 95 242 / 0.5);
}

.border-thameThreetextSecondary{
  --tw-border-opacity: 1;
  border-color: rgb(82 82 82 / var(--tw-border-opacity, 1));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#00000033\]{
  background-color: #00000033;
}

.bg-thameThreePrimary{
  --tw-bg-opacity: 1;
  background-color: rgb(10 31 68 / var(--tw-bg-opacity, 1));
}

.bg-thameThreeSecondary{
  --tw-bg-opacity: 1;
  background-color: rgb(64 95 242 / var(--tw-bg-opacity, 1));
}

.bg-thameThreeSecondary\/30{
  background-color: rgb(64 95 242 / 0.3);
}

.bg-thameThreeWhiteLight{
  --tw-bg-opacity: 1;
  background-color: rgb(247 250 252 / var(--tw-bg-opacity, 1));
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/25{
  background-color: rgb(255 255 255 / 0.25);
}

.bg-white\/80{
  background-color: rgb(255 255 255 / 0.8);
}

.bg-\[url\(\'\.\.\/img\/car-img\.png\'\)\]{
  background-image: url('../img/car-img.png');
}

.bg-cover{
  background-size: cover;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-3\.5{
  padding: 14px;
}

.p-5{
  padding: 1.25rem;
}

.p-6{
  padding: 1.5rem;
}

.p-8{
  padding: 2rem;
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-12\.5{
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-3{
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-3\.75{
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-7\.5{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb-3{
  padding-bottom: 12px;
}

.pb-45{
  padding-bottom: 180px;
}

.pb-7\.5{
  padding-bottom: 30px;
}

.pl-0{
  padding-left: 0px;
}

.pl-5{
  padding-left: 1.25rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pl-6\.75{
  padding-left: 27px;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-12{
  padding-top: 3rem;
}

.pt-14{
  padding-top: 3.5rem;
}

.pt-15{
  padding-top: 60px;
}

.pt-25{
  padding-top: 100px;
}

.pt-3{
  padding-top: 12px;
}

.pt-30{
  padding-top: 120px;
}

.pt-4{
  padding-top: 1rem;
}

.pt-40{
  padding-top: 160px;
}

.pt-8{
  padding-top: 2rem;
}

.pt-9{
  padding-top: 2.25rem;
}

.text-center{
  text-align: center;
}

.text-start{
  text-align: start;
}

.align-top{
  vertical-align: top;
}

.text-10{
  font-size: 40px;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-3xxl{
  font-size: 32px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold{
  font-weight: 700;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-\[55px\]{
  line-height: 55px;
}

.text-bannerText\/50{
  color: rgb(40 40 40 / 0.5);
}

.text-thameThreeGreenPrimary{
  --tw-text-opacity: 1;
  color: rgb(49 195 93 / var(--tw-text-opacity, 1));
}

.text-thameThreePrimary{
  --tw-text-opacity: 1;
  color: rgb(10 31 68 / var(--tw-text-opacity, 1));
}

.text-thameThreePrimary\/70{
  color: rgb(10 31 68 / 0.7);
}

.text-thameThreeSecondary{
  --tw-text-opacity: 1;
  color: rgb(64 95 242 / var(--tw-text-opacity, 1));
}

.text-thameThreetextSecondary{
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-white\/70{
  color: rgb(255 255 255 / 0.7);
}

.line-through{
  text-decoration-line: line-through;
}

.shadow-grapshadow{
  --tw-shadow: 0px 0px 8px 4px #00000014;
  --tw-shadow-colored: 0px 0px 8px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

* {
  font-family: "Poppins", sans-serif;
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:-bottom-3\.5::before{
  content: var(--tw-content);
  bottom: -14px;
}

.before\:bottom-20::before{
  content: var(--tw-content);
  bottom: 80px;
}

.before\:left-0::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:top-275::before{
  content: var(--tw-content);
  top: 1100px;
}

.before\:-z-10::before{
  content: var(--tw-content);
  z-index: -10;
}

.before\:z-0::before{
  content: var(--tw-content);
  z-index: 0;
}

.before\:h-172\.5::before{
  content: var(--tw-content);
  height: 690px;
}

.before\:h-217\.5::before{
  content: var(--tw-content);
  height: 870px;
}

.before\:h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:w-full::before{
  content: var(--tw-content);
  width: 100%;
}

.before\:rounded-5\.75::before{
  content: var(--tw-content);
  border-radius: 23px;
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:rounded-none::before{
  content: var(--tw-content);
  border-radius: 0px;
}

.before\:bg-thameThreeSecondary\/20::before{
  content: var(--tw-content);
  background-color: rgb(64 95 242 / 0.2);
}

.before\:bg-gradient-to-t::before{
  content: var(--tw-content);
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.before\:from-thameThreePrimary::before{
  content: var(--tw-content);
  --tw-gradient-from: #0A1F44 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 31 68 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.before\:to-transparent::before{
  content: var(--tw-content);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.before\:blur-\[1000px\]::before{
  content: var(--tw-content);
  --tw-blur: blur(1000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:blur-\[3000px\]::before{
  content: var(--tw-content);
  --tw-blur: blur(3000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:filter::before{
  content: var(--tw-content);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:content-\[\'\'\]::before{
  --tw-content: '';
  content: var(--tw-content);
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-295::after{
  content: var(--tw-content);
  bottom: 1180px;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:right-0::after{
  content: var(--tw-content);
  right: 0px;
}

.after\:top-0::after{
  content: var(--tw-content);
  top: 0px;
}

.after\:top-1::after{
  content: var(--tw-content);
  top: 0.25rem;
}

.after\:top-66\.25::after{
  content: var(--tw-content);
  top: 265px;
}

.after\:-z-1::after{
  content: var(--tw-content);
  z-index: -1;
}

.after\:-z-10::after{
  content: var(--tw-content);
  z-index: -10;
}

.after\:z-10::after{
  content: var(--tw-content);
  z-index: 10;
}

.after\:h-0::after{
  content: var(--tw-content);
  height: 0px;
}

.after\:h-198\.75::after{
  content: var(--tw-content);
  height: 795px;
}

.after\:h-4::after{
  content: var(--tw-content);
  height: 1rem;
}

.after\:h-full::after{
  content: var(--tw-content);
  height: 100%;
}

.after\:w-4::after{
  content: var(--tw-content);
  width: 1rem;
}

.after\:w-full::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:rounded::after{
  content: var(--tw-content);
  border-radius: 0.25rem;
}

.after\:rounded-3xl::after{
  content: var(--tw-content);
  border-radius: 1.5rem;
}

.after\:rounded-5\.75::after{
  content: var(--tw-content);
  border-radius: 23px;
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-thameThreeBluePrimary::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(101 126 244 / var(--tw-bg-opacity, 1));
}

.after\:bg-thameThreeOrangePrimary::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(248 168 105 / var(--tw-bg-opacity, 1));
}

.after\:bg-thameThreelightYellow\/20::after{
  content: var(--tw-content);
  background-color: rgb(248 147 68 / 0.2);
}

.after\:bg-gradient-to-b::after{
  content: var(--tw-content);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.after\:from-thameThreePrimary::after{
  content: var(--tw-content);
  --tw-gradient-from: #0A1F44 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 31 68 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:from-transparent::after{
  content: var(--tw-content);
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:to-thameThreePrimary::after{
  content: var(--tw-content);
  --tw-gradient-to: #0A1F44 var(--tw-gradient-to-position);
}

.after\:to-transparent::after{
  content: var(--tw-content);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.after\:opacity-25::after{
  content: var(--tw-content);
  opacity: 0.25;
}

.after\:blur-\[1000px\]::after{
  content: var(--tw-content);
  --tw-blur: blur(1000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:blur-\[3000px\]::after{
  content: var(--tw-content);
  --tw-blur: blur(3000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:filter::after{
  content: var(--tw-content);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:border-1:hover{
  border-width: 4px;
}

.hover\:border-\[\#F89344\]:hover{
  --tw-border-opacity: 1;
  border-color: rgb(248 147 68 / var(--tw-border-opacity, 1));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.focus\:outline-1:focus{
  outline-width: 1px;
}

@media (min-width: 480px){
  .xsm\:w-24\.25{
    width: 97px;
  }

  .xsm\:w-\[105px\]{
    width: 105px;
  }

  .xsm\:flex-row{
    flex-direction: row;
  }

  .xsm\:gap-0{
    gap: 0px;
  }

  .xsm\:rounded-none{
    border-radius: 0px;
  }

  .xsm\:rounded-l-lg{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .xsm\:rounded-l-none{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .xsm\:rounded-r-lg{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .xsm\:rounded-r-none{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .xsm\:border-x-0{
    border-left-width: 0px;
    border-right-width: 0px;
  }
}

@media (min-width: 640px){
  .sm\:mt-4{
    margin-top: 1rem;
  }

  .sm\:h-23\.75{
    height: 95px;
  }

  .sm\:h-37\.5{
    height: 150px;
  }

  .sm\:h-53\.75{
    height: 215px;
  }

  .sm\:h-76\.25{
    height: 305px;
  }

  .sm\:h-86\.25{
    height: 345px;
  }

  .sm\:w-20{
    width: 80px;
  }

  .sm\:w-51\.25{
    width: 205px;
  }

  .sm\:w-8{
    width: 2rem;
  }

  .sm\:w-8\.4\/12{
    width: 70%;
  }

  .sm\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .sm\:justify-end{
    justify-content: flex-end;
  }

  .sm\:justify-center{
    justify-content: center;
  }

  .sm\:gap-15{
    gap: 60px;
  }

  .sm\:gap-27\.5{
    gap: 110px;
  }

  .sm\:p-5{
    padding: 1.25rem;
  .sm\:w-60{
    width: 240px;
  }

  .sm\:px-15{
    padding-left: 60px;
    padding-right: 60px;
  }

  .sm\:px-26\.25{
    padding-left: 105px;
    padding-right: 105px;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-18{
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .sm\:py-8\.75{
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .sm\:pt-18{
    padding-top: 72px;
  }

  .sm\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:before\:top-258\.75::before{
    content: var(--tw-content);
    top: 1035px;
  }

  .sm\:before\:w-150::before{
    content: var(--tw-content);
    width: 600px;
  }

  .sm\:after\:bottom-248\.75::after{
    content: var(--tw-content);
    bottom: 995px;
  }

  .sm\:after\:top-65::after{
    content: var(--tw-content);
    top: 260px;
  }

  .sm\:after\:w-150::after{
    content: var(--tw-content);
    width: 600px;
  }
}

@media (min-width: 768px){
  .md\:h-100{
    height: 400px;
  }

  .md\:h-31\.25{
    height: 125px;
  }

  .md\:h-48\.75{
    height: 195px;
  }

  .md\:h-65{
    height: 260px;
  }

  .md\:w-10{
    width: 2.5rem;
  }

  .md\:w-10\.08\/12{
    width: 84%;
  }

  .md\:w-27\.5{
    width: 110px;
  }

  .md\:w-62\.5{
    width: 250px;
  }

  .md\:gap-5{
    gap: 1.25rem;
  }

  .md\:rounded-9{
    border-radius: 36px;
  }

  .md\:border-4{
    border-width: 16px;
  }

  .md\:px-40{
    padding-left: 160px;
    padding-right: 160px;
  }

  .md\:text-3xxl{
    font-size: 32px;
  }

  .md\:leading-\[60px\]{
    line-height: 60px;
  }

  .md\:before\:w-150::before{
    content: var(--tw-content);
    width: 600px;
  }

  .md\:before\:rounded-4\.5::before{
    content: var(--tw-content);
    border-radius: 18px;
  }

  .md\:after\:w-150::after{
    content: var(--tw-content);
    width: 600px;
  }
}

@media (min-width: 1024px){
  .lg\:order-1{
    order: 1;
  }

  .lg\:order-2{
    order: 2;
  }

  .lg\:h-105{
    height: 420px;
  }

  .lg\:h-33\.75{
    height: 135px;
  }

  .lg\:h-35{
    height: 140px;
  }

  .lg\:h-50{
    height: 200px;
  }

  .lg\:h-70{
    height: 280px;
  }

  .lg\:w-2\/4{
    width: 50%;
  }

  .lg\:w-4{
    width: 1rem;
  }

  .lg\:w-4\.2\/12{
    width: 35%;
  }

  .lg\:w-5{
    width: 1.25rem;
  }

  .lg\:w-5\.4\/12{
    width: 45%;
  }

  .lg\:w-5\.76\/12{
    width: 48%;
  }

  .lg\:w-50{
    width: 200px;
  }

  .lg\:w-6{
    width: 1.5rem;
  }

  .lg\:w-6\.84\/12{
    width: 57%;
  }

  .lg\:w-7{
    width: 1.75rem;
  }

  .lg\:w-7\.32\/12{
    width: 61%;
  }

  .lg\:w-9{
    width: 2.25rem;
  }

  .lg\:w-9\.96\/12{
    width: 83%;
  }

  .lg\:max-w-78{
    max-width: 312px;
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:gap-0{
    gap: 0px;
  }

  .lg\:gap-10{
    gap: 2.5rem;
  }

  .lg\:rounded-2xl{
    border-radius: 1rem;
  }

  .lg\:px-68\.75{
    padding-left: 275px;
    padding-right: 275px;
  }

  .lg\:py-25{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg\:pt-25{
    padding-top: 100px;
  }

  .lg\:before\:top-295::before{
    content: var(--tw-content);
    top: 1180px;
  }

  .lg\:before\:w-200::before{
    content: var(--tw-content);
    width: 800px;
  }

  .lg\:after\:bottom-295::after{
    content: var(--tw-content);
    bottom: 1180px;
  }

  .lg\:after\:w-200::after{
    content: var(--tw-content);
    width: 800px;
  }
}

@media (min-width: 1280px){
  .xl\:order-1{
    order: 1;
  }

  .xl\:order-2{
    order: 2;
  }

  .xl\:h-37\.5{
    height: 150px;
  }

  .xl\:h-42\.5{
    height: 170px;
  }

  .xl\:h-56\.25{
    height: 225px;
  }

  .xl\:h-83\.75{
    height: 335px;
  }

  .xl\:h-91\.25{
    height: 365px;
  }

  .xl\:w-3{
    width: 12px;
  }

  .xl\:w-3\.48\/12{
    width: 29%;
  }

  .xl\:w-30{
    width: 120px;
  }

  .xl\:w-4{
    width: 1rem;
  }

  .xl\:w-4\.08\/12{
    width: 34%;
  }

  .xl\:w-4\.92\/12{
    width: 41%;
  }

  .xl\:w-54\.25{
    width: 217px;
  }

  .xl\:w-6{
    width: 1.5rem;
  }

  .xl\:w-6\.36\/12{
    width: 53%;
  }

  .xl\:w-6\.96\/12{
    width: 58%;
  }

  .xl\:w-7{
    width: 1.75rem;
  }

  .xl\:w-7\.44\/12{
    width: 62%;
  }

  .xl\:w-9{
    width: 2.25rem;
  }

  .xl\:w-9\.84\/12{
    width: 82%;
  }

  .xl\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:flex-wrap{
    flex-wrap: wrap;
  }

  .xl\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .xl\:justify-start{
    justify-content: flex-start;
  }

  .xl\:justify-end{
    justify-content: flex-end;
  }

  .xl\:gap-10{
    gap: 2.5rem;
  }

  .xl\:gap-15{
    gap: 60px;
  }

  .xl\:px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .xl\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xl\:py-30{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .xl\:pl-23\.75{
    padding-left: 95px;
  }

  .xl\:pr-23\.75{
    padding-right: 95px;
  }

  .xl\:pt-45{
    padding-top: 180px;
  }

  .xl\:text-10{
    font-size: 40px;
  }

  .xl\:text-3xxl{
    font-size: 32px;
  }

  .xl\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:leading-\[71px\]{
    line-height: 71px;
  }

  .xl\:before\:bottom-12\.5::before{
    content: var(--tw-content);
    bottom: 50px;
  }

  .xl\:before\:top-161\.25::before{
    content: var(--tw-content);
    top: 645px;
  }

  .xl\:after\:bottom-83\.75::after{
    content: var(--tw-content);
    bottom: 335px;
  }

  .xl\:after\:top-70::after{
    content: var(--tw-content);
    top: 280px;
  }
}

@media (min-width: 1440px){
  .\32xl\:-bottom-27\.5{
    bottom: -110px;
  }

  .\32xl\:-top-27\.5{
    top: -110px;
  }

  .\32xl\:h-125{
    height: 500px;
  }

  .\32xl\:h-126\.5{
    height: 506px;
  }

  .\32xl\:h-60{
    height: 240px;
  }

  .\32xl\:h-85{
    height: 340px;
  }

  .\32xl\:w-2{
    width: 0.5rem;
  }

  .\32xl\:w-2\.28\/12{
    width: 19%;
  }

  .\32xl\:w-2\/4{
    width: 50%;
  }

  .\32xl\:w-4{
    width: 1rem;
  }

  .\32xl\:w-4\.32\/12{
    width: 36%;
  }

  .\32xl\:w-4\.56\/12{
    width: 38%;
  }

  .\32xl\:w-5{
    width: 1.25rem;
  }

  .\32xl\:w-5\.52\/12{
    width: 46%;
  }

  .\32xl\:w-6{
    width: 1.5rem;
  }

  .\32xl\:w-6\.84\/12{
    width: 57%;
  }

  .\32xl\:w-6\.96\/12{
    width: 58%;
  }

  .\32xl\:w-61\.75{
    width: 247px;
  }

  .\32xl\:w-221\.75{
    width: 887px;
  }

  .\32xl\:w-221\.75{
    width: 887px;
  }

  .\32xl\:w-85{
    width: 340px;
  }

  .\32xl\:w-9{
    width: 2.25rem;
  }

  .\32xl\:w-9\.24\/12{
    width: 77%;
  }

  .\32xl\:max-w-6{
    max-width: 1.5rem;
  }

  .\32xl\:max-w-6\.96\/12{
    max-width: 58%;
  }

  .\32xl\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .\32xl\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .\32xl\:justify-center{
    justify-content: center;
  }

  .\32xl\:gap-12{
    gap: 3rem;
  }

  .\32xl\:gap-16{
    gap: 4rem;
  }

  .\32xl\:gap-6{
    gap: 1.5rem;
  }

  .\32xl\:gap-x-25{
    -moz-column-gap: 100px;
         column-gap: 100px;
  }

  .\32xl\:rounded-10{
    border-radius: 40px;
  }

  .\32xl\:border-5{
    border-width: 20px;
  }

  .\32xl\:p-8{
    padding: 2rem;
  }

  .\32xl\:px-24{
    padding-left: 96px;
    padding-right: 96px;
  }

  .\32xl\:px-26\.75{
    padding-left: 107px;
    padding-right: 107px;
  }

  .\32xl\:pl-49{
    padding-left: 196px;
  }

  .\32xl\:pl-8\.75{
    padding-left: 35px;
  }

  .\32xl\:text-20{
    font-size: 80px;
  }

  .\32xl\:leading-\[86px\]{
    line-height: 86px;
  }

  .\32xl\:before\:bottom-15::before{
    content: var(--tw-content);
    bottom: 60px;
  }

  .\32xl\:before\:top-189\.5::before{
    content: var(--tw-content);
    top: 758px;
  }

  .\32xl\:before\:h-225::before{
    content: var(--tw-content);
    height: 900px;
  }

  .\32xl\:after\:bottom-131\.25::after{
    content: var(--tw-content);
    bottom: 525px;
  }

  .\32xl\:after\:top-77\.5::after{
    content: var(--tw-content);
    top: 310px;
  }

  .\32xl\:after\:h-225::after{
    content: var(--tw-content);
    height: 900px;
  }
}