@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.main-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px){
  .main-container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px){
  .main-container{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1280px){
  .main-container{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 1600px){
  .main-container{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1920px){
  .main-container{
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.secendery-title{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  line-height: 1.375 !important;
  --tw-text-opacity: 1;
  color: rgb(10 31 68 / var(--tw-text-opacity, 1));
}

@media (min-width: 1280px){
  .secendery-title{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1440px){
  .secendery-title{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-bottom-18\.75{
  bottom: -75px;
}

.-top-18\.75{
  top: -75px;
}

.right-0{
  right: 0px;
}

.-z-1{
  z-index: -1;
}

.z-3{
  z-index: 3;
}

.order-1{
  order: 1;
}

.order-2{
  order: 2;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.flex{
  display: flex;
}

.h-33\.75{
  height: 135px;
}

.h-4\.5{
  height: 18px;
}

.h-46\.25{
  height: 185px;
}

.h-63\.75{
  height: 255px;
}

.h-67\.5{
  height: 270px;
}

.h-full{
  height: 100%;
}

.w-10{
  width: 2.5rem;
}

.w-10\.2\/12{
  width: 85%;
}

.w-45{
  width: 180px;
}

.w-7{
  width: 1.75rem;
}

.w-full{
  width: 100%;
}

.max-w-171\.75{
  max-width: 687px;
}

.max-w-201{
  max-width: 804px;
}

.list-disc{
  list-style-type: disc;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-12\.5{
  gap: 50px;
}

.gap-2{
  gap: 0.5rem;
}

.gap-32\.5{
  gap: 130px;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-3xxl{
  border-radius: 30px;
}

.border-14{
  border-width: 14px;
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.py-12\.5{
  padding-top: 50px;
  padding-bottom: 50px;
}

.pb-45{
  padding-bottom: 180px;
}

.pl-6\.75{
  padding-left: 27px;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-12{
  padding-top: 3rem;
}

.pt-14{
  padding-top: 3.5rem;
}

.pt-25{
  padding-top: 100px;
}

.pt-30{
  padding-top: 120px;
}

.pt-8{
  padding-top: 2rem;
}

.pt-9{
  padding-top: 2.25rem;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold{
  font-weight: 700;
}

.font-normal{
  font-weight: 400;
}

.uppercase{
  text-transform: uppercase;
}

.text-thameThreePrimary{
  --tw-text-opacity: 1;
  color: rgb(10 31 68 / var(--tw-text-opacity, 1));
}

.text-thameThreetextSecondary{
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity, 1));
}

* {
  font-family: "Poppins", sans-serif;
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-20::before{
  content: var(--tw-content);
  bottom: 5rem;
}

.before\:left-0::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:top-275::before{
  content: var(--tw-content);
  top: 1100px;
}

.before\:-z-10::before{
  content: var(--tw-content);
  z-index: -10;
}

.before\:h-172\.5::before{
  content: var(--tw-content);
  height: 690px;
}

.before\:h-217\.5::before{
  content: var(--tw-content);
  height: 870px;
}

.before\:w-full::before{
  content: var(--tw-content);
  width: 100%;
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-thameThreeSecondary\/20::before{
  content: var(--tw-content);
  background-color: rgb(64 95 242 / 0.2);
}

.before\:blur-\[1000px\]::before{
  content: var(--tw-content);
  --tw-blur: blur(1000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:blur-\[3000px\]::before{
  content: var(--tw-content);
  --tw-blur: blur(3000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:filter::before{
  content: var(--tw-content);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-295::after{
  content: var(--tw-content);
  bottom: 1180px;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:right-0::after{
  content: var(--tw-content);
  right: 0px;
}

.after\:top-0::after{
  content: var(--tw-content);
  top: 0px;
}

.after\:top-66\.25::after{
  content: var(--tw-content);
  top: 265px;
}

.after\:-z-10::after{
  content: var(--tw-content);
  z-index: -10;
}

.after\:z-10::after{
  content: var(--tw-content);
  z-index: 10;
}

.after\:h-198\.75::after{
  content: var(--tw-content);
  height: 795px;
}

.after\:h-full::after{
  content: var(--tw-content);
  height: 100%;
}

.after\:w-full::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:rounded-3xl::after{
  content: var(--tw-content);
  border-radius: 1.5rem;
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-thameThreelightYellow\/20::after{
  content: var(--tw-content);
  background-color: rgb(248 147 68 / 0.2);
}

.after\:bg-gradient-to-b::after{
  content: var(--tw-content);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.after\:from-thameThreePrimary\/10::after{
  content: var(--tw-content);
  --tw-gradient-from: rgb(10 31 68 / 0.1) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 31 68 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:from-transparent::after{
  content: var(--tw-content);
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:to-thameThreePrimary::after{
  content: var(--tw-content);
  --tw-gradient-to: #0A1F44 var(--tw-gradient-to-position);
}

.after\:to-thameThreePrimary\/70::after{
  content: var(--tw-content);
  --tw-gradient-to: rgb(10 31 68 / 0.7) var(--tw-gradient-to-position);
}

.after\:blur-\[1000px\]::after{
  content: var(--tw-content);
  --tw-blur: blur(1000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:blur-\[3000px\]::after{
  content: var(--tw-content);
  --tw-blur: blur(3000px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:filter::after{
  content: var(--tw-content);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 640px){
  .sm\:h-37\.5{
    height: 150px;
  }

  .sm\:h-53\.75{
    height: 215px;
  }

  .sm\:h-76\.25{
    height: 305px;
  }

  .sm\:h-86\.25{
    height: 345px;
  }

  .sm\:w-51\.25{
    width: 205px;
  }

  .sm\:gap-15{
    gap: 60px;
  }

  .sm\:gap-27\.5{
    gap: 110px;
  }

  .sm\:py-18{
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .sm\:pt-18{
    padding-top: 72px;
  }

  .sm\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:before\:top-258\.75::before{
    content: var(--tw-content);
    top: 1035px;
  }

  .sm\:before\:w-150::before{
    content: var(--tw-content);
    width: 600px;
  }

  .sm\:after\:bottom-248\.75::after{
    content: var(--tw-content);
    bottom: 995px;
  }

  .sm\:after\:top-65::after{
    content: var(--tw-content);
    top: 260px;
  }

  .sm\:after\:w-150::after{
    content: var(--tw-content);
    width: 600px;
  }
}

@media (min-width: 768px){
  .md\:h-100{
    height: 400px;
  }

  .md\:h-48\.75{
    height: 195px;
  }

  .md\:h-65{
    height: 260px;
  }

  .md\:w-62\.5{
    width: 250px;
  }

  .md\:rounded-4xxl{
    border-radius: 36px;
  }

  .md\:border-16{
    border-width: 16px;
  }

  .md\:text-3xxl{
    font-size: 32px;
  }

  .md\:before\:w-150::before{
    content: var(--tw-content);
    width: 600px;
  }

  .md\:after\:w-150::after{
    content: var(--tw-content);
    width: 600px;
  }
}

@media (min-width: 1024px){
  .lg\:order-1{
    order: 1;
  }

  .lg\:order-2{
    order: 2;
  }

  .lg\:h-105{
    height: 420px;
  }

  .lg\:h-35{
    height: 140px;
  }

  .lg\:h-50{
    height: 200px;
  }

  .lg\:h-70{
    height: 280px;
  }

  .lg\:w-2\/4{
    width: 50%;
  }

  .lg\:w-5{
    width: 1.25rem;
  }

  .lg\:w-5\.4\/12{
    width: 45%;
  }

  .lg\:w-5\.76\/12{
    width: 48%;
  }

  .lg\:w-50{
    width: 200px;
  }

  .lg\:w-9{
    width: 2.25rem;
  }

  .lg\:w-9\.96\/12{
    width: 83%;
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:gap-0{
    gap: 0px;
  }

  .lg\:gap-10{
    gap: 2.5rem;
  }

  .lg\:py-25{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg\:pt-25{
    padding-top: 100px;
  }

  .lg\:before\:top-295::before{
    content: var(--tw-content);
    top: 1180px;
  }

  .lg\:before\:w-200::before{
    content: var(--tw-content);
    width: 800px;
  }

  .lg\:after\:bottom-295::after{
    content: var(--tw-content);
    bottom: 1180px;
  }

  .lg\:after\:w-200::after{
    content: var(--tw-content);
    width: 800px;
  }
}

@media (min-width: 1280px){
  .xl\:h-42\.5{
    height: 170px;
  }

  .xl\:h-56\.25{
    height: 225px;
  }

  .xl\:h-83\.75{
    height: 335px;
  }

  .xl\:h-91\.25{
    height: 365px;
  }

  .xl\:w-4{
    width: 1rem;
  }

  .xl\:w-4\.92\/12{
    width: 41%;
  }

  .xl\:w-54\.25{
    width: 217px;
  }

  .xl\:w-9{
    width: 2.25rem;
  }

  .xl\:w-9\.84\/12{
    width: 82%;
  }

  .xl\:gap-15{
    gap: 60px;
  }

  .xl\:py-30{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .xl\:pt-45{
    padding-top: 180px;
  }

  .xl\:before\:bottom-12\.5::before{
    content: var(--tw-content);
    bottom: 50px;
  }

  .xl\:before\:top-161\.25::before{
    content: var(--tw-content);
    top: 645px;
  }

  .xl\:after\:bottom-83\.75::after{
    content: var(--tw-content);
    bottom: 335px;
  }

  .xl\:after\:top-70::after{
    content: var(--tw-content);
    top: 280px;
  }
}

@media (min-width: 1440px){
  .\32xl\:-bottom-27\.5{
    bottom: -110px;
  }

  .\32xl\:-top-27\.5{
    top: -110px;
  }

  .\32xl\:h-125{
    height: 500px;
  }

  .\32xl\:h-126\.5{
    height: 506px;
  }

  .\32xl\:h-60{
    height: 15rem;
  }

  .\32xl\:h-85{
    height: 340px;
  }

  .\32xl\:w-2\/4{
    width: 50%;
  }

  .\32xl\:w-5{
    width: 1.25rem;
  }

  .\32xl\:w-5\.52\/12{
    width: 46%;
  }

  .\32xl\:w-85{
    width: 340px;
  }

  .\32xl\:w-9{
    width: 2.25rem;
  }

  .\32xl\:w-9\.24\/12{
    width: 77%;
  }

  .\32xl\:rounded-5xl{
    border-radius: 40px;
  }

  .\32xl\:border-20{
    border-width: 20px;
  }

  .\32xl\:before\:bottom-15::before{
    content: var(--tw-content);
    bottom: 60px;
  }

  .\32xl\:before\:top-189\.5::before{
    content: var(--tw-content);
    top: 758px;
  }

  .\32xl\:before\:h-225::before{
    content: var(--tw-content);
    height: 900px;
  }

  .\32xl\:after\:bottom-131\.25::after{
    content: var(--tw-content);
    bottom: 525px;
  }

  .\32xl\:after\:top-77\.5::after{
    content: var(--tw-content);
    top: 310px;
  }

  .\32xl\:after\:h-225::after{
    content: var(--tw-content);
    height: 900px;
  }
}